<div class="task">
  <div class="header">
      <div>
        {{task.title}}
      </div>
      <!-- Markup for dropdown menu here... -->
      <select 
        id="status-type"
        name="selectedStatusType"
        
        #selectedStatusType
        (change)="handleStatusChanged(selectedStatusType.value)"
        [value]="task.status"
        >
        <option *ngFor="let st of utilService.getStatusTypes()">{{st}}</option>
      </select>
  </div>
  <hr>
  <div class="body">
      {{task.description}}
  </div>
</div>
